dist: trusty
sudo: required
language: node_js
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install chromium-browser; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew cask install chromium; fi
os:
  - linux
  - osx
node_js:
  - 4
  - node
addons:
  chrome: stable
  firefox: "52.2.1"
